venv/
*.pyc
*.pyc
curso-POO/uber-project/python/__pycache__/account.cpython-310.pyc
curso-POO/uber-project/python/__pycache__/car.cpython-310.pyc
curso-POO/uber-project/python/__pycache__/uberBlack.cpython-310.pyc
*.exe
*.pyc
node_modules/